altgraph==0.17.5
arcade==3.3.3
attrs==25.4.0
cffi==2.0.0
cx_Freeze==8.6.0
filelock==3.25.0
freeze-core==0.6.0
packaging==26.0
patchelf==0.17.2.4
pillow==11.3.0
pycparser==3.0
pyglet==2.1.13
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.2
pymunk==6.9.0
pytiled_parser==2.2.9
setuptools==82.0.0
typing_extensions==4.15.0
